<h1 id="title">@timeforinnovation/ember-cli-qrcode</h1>

<h2>Short example</h2>

<p>
  {{qr-code text="http://example.com" size=200}}
</p>

<h2>Long example</h2>

<p>
  {{qr-code text="https://longurlmaker.com/go?id=GBDPCHMLGOBYSUGZYQUYPUVNZSPCRCCYDFNGNASTOTRHNXGMNBKDWGRVYGXPIAOMFCTTCLMQFEXTBEGPGRTCXKXVQVLZVZMBBFUERHUWLSPMXWCDNVFKFDGWYRWURIVTNPXEWSBIKRUHNXLASRKYURUTIRNZZITNYQSVITDSKYAXVMXODIMYZHRIYEIYNBLLRDHZWLSHJTEFGCTJLGILNZTMECKRDVDVZLVVWOCFIHLOKEYVKGGYGAKKCUBGQFBPQXKMLNSTVDIFIGATNHRTIBDKWFRMKTBBQMOBZHVVLEATKBMXJERRGUCCATOLMPMDBAEBIAXTEXMPZZNIEEZKZBMZUBKHQXKSYPUGQRZUPMKOMYWQCVBCXNCRONZFKJYJZTPPLPKACUOOSLFVGGYDUAVJNUOYENHDGXTSMDSPYHDRSJMZPKCJLYSYTHWYVDCCBVUOYMDWTHNLQAKFLNPWMIVGQRELVGOWBIKAVOXOVLALLLRXZGUMPPSFGWRCCFZENKFIYCXTNYEZKVXJCRVSGOYNKPQNVPSIZXRYZPRNOVNYRKIUCEMJSKXCANQVDIEDFWBFLSTAOHYGSHAULNDDYBGYOXURFYVLUWRGOLGDSFJKMKFXYIBXJIWYFQQLOLXJHOPWAVZSAJDMUIKTRMQBUMZACQLRBIAJXPFXLFQLPTYKBJDTVTUQFUQIKCZMLAVIPBGAHXMWQLGSUKLQDGGJAXRLZRXKRTTHVAICXVZNGGGBQSSUYZDYWVKVNHGFBAMWAUZXPZLWGSYXKQRIPVHMRRHEZOJBOWXPQXNGWZCDRBABSSJHNRTFIBJIQTJFPHUGEHMBHPEYRFZJXJQKAKQJMASCTBHJICPNKCORSTPJYPSVYJGZUXJGXBJQCRALUQYESNVLGLUFBMBZWIZQFJXCKGTNYTZSJXWCLSNSEHXFUZFRHFHNOEPZLIMKCLCLJZNURAMWIKBDJGURMBEAGUZSDMCFYEQIEECWFPSOATRJALBMNFNUANNDZPIYUZGYEJVKZNYZHPJIBKUPQIKRVXUVNDTIDZHHJCRIPQHWGREHCZXTHHKDFEYSIRALRHSAJKJZARWGIAOKAMEITOLYTKRBBSNTZGTJQCJRUFYCGMNGYRPSGARAKICMAPFAVZKMCTDWZBZFOMMNEBFLCXLMGNZGDEHYESKGMNDLPCREPDRUEXGGURTAFSHJXOHBHSITGMEVOWZEZRYEOFKIXEJCWQLUFTWMLFFRRKNFGNKGEIKSNUBKZLNVBZQHTMTERZWIKKORXYXCHHVVCXGBIUXJTNQNAKSSJOBTZPLWOIZVPUQSRXTZRRJLFZYFKQXTFYNEOYBCHAXWUOOMLILDZUOEUMKEDIYIHMNVLOXSPVPKKEWWMIZMDOQXBACEIBNQOALZPJSEFHPPLLMYUMKXBAVCBXGKZTANTMNJVFOANDQZPDXJQIGRJBTKZZVZTWNNIAWEGKFTOVTDZQNPZTGIVASVZOVSKIGTICXPNCIBYCFYTSNSMUAIUTEUHZNSHTLPVJEJMNKLQQJJIWBVRBDLUHGCGTUOMGEIQJRCXCNNSWWBTXWKZAWUICWPWRDIYHQORHQOKEBCBXEUVBFVBCPKFMZBDDJBLAQCIHQSLRVMOZHKANFCQVMWHMXLPHNAIDCQKSIWKEIZEQJEEPHUKURRGODVWQWETYUERDABIJAMAKREZYZKSQBZFFUBVRFPQATHDUJLDKXDUOIUNHEGYGFDLAEHRKWHKPPOKYANJYRENZYAGDGEJMIVMNCEXYLHOBWYAWMJUDNICMIJPPOZBWVOJXSGWEOLGLKGHWQCADKCQTLGJZFLWAZFYSMVXBGDMQKTNAWNDHPUABAJBFUXGUCFNPAKQGNCXYWKYSXCANWAOWKPCFNIAPNNFOXVULXRJTCHMZJMMGNBCYREDENDUBQZPOUKZSBJMERZDBLQHZSJXJOBOBFICWHSKCCKVEUHILGMMSCUSVDQERRSTXBVTJOELQPGUJODVVPIOSCGNFWSXOLQLMMFVAJHQYOLICODYDLMVNTJTPBQE" size=500}}
</p>

<h2>Color example</h2>

<p>
  {{qr-code text="http://example.com/green" darkColor="green" size=200}}
</p>
